<div id="row">
  <div class="large-2 columns small-3">
    <%= image_tag "http://placehold.it/80x80&text=[img]" %>
  </div>
  <div class="large-10 columns">
    <svg id="graph"></svg>
  </div>
</div>
