<h3>Your patterns</h3>
<ul>
<% @patterns.each do |pattern| %>
<div class = "each-pattern">
  <li><%= pattern.dataset.name %></li>
  <li><% 10.times do |i| %>
      <%= "#{pattern.dataset.data[i]}, " %>
      <% end %></li>
  <li><%= pattern.colors %></li>
</div>
<% end %>
</ul>
