<div class="row">
  <div class="large-8 push-4 columns">

    <h3>Knit Me! Start at row 1... </h3>
    <svg id="graph"></svg>
  </div>

  <div class="large-4 pull-8 columns">
    <ul>
      <h3>Edit Pattern</h3>
      <%= render "form" %>
    </ul>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" %>
  <%= javascript_include_tag 'graph' %>
<% end %>
