<div class="row">
  <div class="large-8 push-4 columns">
    <h3>Page Title</h3>
    <svg id="graph"></svg>
  </div>

  <div class="large-4 pull-8 columns">
    <ul>
      <li>CONTENT</li>
      <li>CONTENT</li>
      <li>CONTENT</li>
      <li>CONTENT</li>
      <li>CONTENT</li>
      <li>CONTENT</li>
    </ul>
    <p><img src="http://placehold.it/320x240&text=Ad"/></p>
  </div>
</div>

<%= javascript_include_tag "graph" %>
