@import "font-awesome-sprockets";
@import "font-awesome";

.wrapper
{
  max-width: 90%;
}

.flash {
  background-color: #5CCEEE;
  color: white;
}

.button {
   background-color: #5CCEEE;
   font-family: 'Karla', sans-serif;
 }
