@import "font-awesome";

$title-font: 'Courgette', sans-serif;
$body-font: 'Playfair Display', serif;
$sans-serif-font: 'Open Sans', sans-serif;
$main-font-color: #556270; //slate
$link-color: #C44D58;  //red
$button-color: #FF6B6B; //pink
$button-hover-color: #4ECDC4; //aqua
$form-focus-color: #4ECDC4; //aqua
$background-elements-color: #C7F464; //apple green
$errors-color: #CC333F; //dk red

body {
  font-family: $body-font;
  color: $main-font-color;
  a {
    color: $link-color;
  }
}

h1, h2, h3, h4 {
  font-family: $title-font;
}

.wrapper {
  max-width: 90%;
}

.flash {
  background-color: $background-elements-color;
}

.button, button, input[type=submit] {
   background-color: $button-color;
   font-family: $body-font;
   border-radius: 1em;
   &:hover {
      background-color: $button-hover-color;
   }
   padding: 0.75em;
   margin: 0.75em;
 }

 label {
   font-size: 1em;
   margin-bottom: 0.5em;
 }

.top-nav-bar {
  margin: 1em;
}

.top-bar-element {
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
}

.minicolors input[type=hidden] + .minicolors-swatch {
  width: 3em;
  height: 12em;
}

#color-pickers {
  margin-bottom: 2rem;
}

textarea {
  &:focus {
    border: 2px solid $form-focus-color;
  }
  width: 75%;
}

textarea #data-field {
  height: auto;
}

#graph {
  font-size: 1.1em;
  font-family: $sans-serif-font;
}

select {
  font-family: $body-font;
}

#error_explanation {
  color: $errors-color;
}

.swatch {
  width: 2em;
  height: 2em;
  display: inline-block;
}

.each-pattern {
  padding-bottom: 4em;
}

.d-title {
  font-size: 1.5em;
}

.d-subtitle {
  font-style: italic;
  padding-left: 2em;
}

select {
  margin-bottom: .5em;
}
